<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/app/principal/" style="font-size: 22px; color: #C0392B;">VolcanesChile</a>
    <a class="navbar-brand" href="/app/volcanes/" style="font-size: 14px;">Lista de Volcanes</a>
    <a class="navbar-brand" href="/app/agregar_volcan/" style="font-size: 14px;">Agregar volcán</a>
    <a class="navbar-brand" href="/app/clasificaciones/" style="font-size: 14px;">Tipos de erupción</a>
    <a class="navbar-brand" href="/app/agregar_clasificacion/" style="font-size: 14px;">Agregar clasificación</a>
    <a class="navbar-brand" href="/app/productos/" style="font-size: 14px;">Productos volcánicos</a>
    <a class="navbar-brand" href="/app/agregar_producto/" style="font-size: 14px;">Agregar producto</a>
    <a class="btn btn-primary" href="/app/unirse/">Únete!</a>
  </div>
</nav>